/* Custom Styles */

.hero-section {
    background: url('../images/hakonetop.png') no-repeat center center;
    background-size: cover;
    height: 60vh;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
